.tips-page {
  position: relative;

  .tips-content {
    position: absolute;
    min-width: 5rem;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    border-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    text-align: justify;
    text-align-last: left;
    white-space: pre-wrap;
    transition: all 0.2s;

    .horn {
      position: absolute;
      width: 0;
      height: 0;
      border: 1rem solid rgba(0, 0, 0, 0);
    }

    .horn-follow-bottom {
      left: 2rem;
      top: 0;
      transform: translate(-50%, -100%);
      border-bottom-color: inherit;
    }

    .horn-top {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 100%);
      border-top-color: inherit;
    }

    .horn-right {
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
      border-right-color: inherit;
    }

    .horn-bottom {
      left: 50%;
      top: 0;
      transform: translate(-50%, -100%);
      border-bottom-color: inherit;
    }

    .horn-left {
      top: 50%;
      right: 0;
      transform: translate(100%, -50%);
      border-left-color: inherit;
    }
  }

  .tips-content-top {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 1rem));
  }

  .tips-content-right {
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 1rem), -50%);
  }

  .tips-content-bottom {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, calc(100% + 1rem));
  }

  .tips-content-left {
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 1rem), -50%);
  }
}